body{
    background-color: #f7f7f7;
}

h1{
    text-align:center;
}

q{
    text-align: center;
    display:block;
    font-style:italic;
}

q+q{
    font-size: 14px;
    font-style: normal;
}

#left,#right{
    width:48%;
    postion:relative;
    float:left;
    margin-left: 20px;      
}

hr{
    clear:both;
}

#email{
    display:block;
    text-align: center;
}