body{
    background-image: url("../img/stripe.png");
    background-repeat:repeat;
    padding-left: 10px;
    padding-right: 10px;
}

#container{
    background-color: white;
    
}

p,#reference{
    text-align:justify; 
    padding: 4px;
    line-height: 1.5em;
}

h3{
    text-transform: capitalize;
        padding: 4px;
}

p:first-letter{
    font-size: 1.5em;
}

p:first-line{
    font-weight: bold;
}

h1{
   word-spacing: 0.5em; 
}

#left,#right{
    background-color: silver;
    border-radius: 10px;
}

a{
    text-decoration:none;
}


a:hover{
    color:green;
    text-decoration: underline;
}

a:visited{
    color: chartreuse;
    text-decoration: none;
}